<h2>STUPID COACHING</h2>

<form action="/answer" data-turbo="false">
  <div class="form-group mb-2">
    <input type="text" class="form-control" placeholder="Ask your coach anything.." name="question" >
    <button type="submit" class="btn btn-primary mb-2">Ask!</button>
  </div>
</form>
